.location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 15px;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 328px;
}

hr {
  width: 90%;
  max-width: 328px;
  margin-top: 15px;
}

.header p {
  margin: 0;
  flex-grow: 1;
  margin-left: -10px;
  text-align: center;
}

.map {
  margin-top: 4%;
  width: 90%;
  max-width: 328px;
  height: 450px;
}

.location_storage {
  width: 90%;
  max-width: 328px;
  height: 49px;
  color: #fff;
  border-radius: 10px;
  border-style: solid;
  border-color: #3faf43;
  background-color: #3faf43;
  margin: 30px auto 0;
  font-size: 15px;
}

.get_location {
  width: 100px;
  height: 30px;
  color: #fff;
  border-radius: 10px;
  border-style: solid 1px #3faf3f;
  border-color: #3faf43;
  background-color: #3faf43;
  margin-left: 1%;
  margin-top: 2%;
}

.get_adress {
  border-radius: 7px;
  border: solid 1px #3faf43;
  margin: 10px auto 0;
  width: 90%;
  max-width: 328px;
}

.adress {
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 0px;
  width: 90%;
  max-width: 328px;
}
