/* post-detail.css */
#post-detail{
    padding-left: 20px;
}
.post-detail-top {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;

}
  
.post-detail-center {
    display: flex;
    flex-direction:row; 
    font-size: 11px;
    color:gray;
    margin-bottom: 10px;
}
  
.post-detail-time {
    margin-left: 20px;
}
  

  
  