body{
    background-color: #fff;
}
.page{
    text-align: center;
}
h2{
    color: #3faf43;
    font-weight: bold;
    margin-top: 30%;
    margin-right: 48%;
}
.button{
    text-align: center;
    margin-top: 10px;
    display: inline-block;
}
.button img{
    margin-right: 13px;
    margin-left: 13px;
}
.recen{
    margin-right:48%;
}
.more h5{
    color: #3faf43;
    text-align: right;
    margin-bottom: 30%;
    margin-right: 6%;
}
.post {
    display: flex;
    flex-direction: column;
    
}

.post img {
    margin-bottom: 100px; 
    margin-top: -100px;
}
hr {
    border-top: 2px solid #ccc; /* 수평선의 스타일 지정 */
    margin: 20px 0; /* 수평선 위아래 여백 조정 */
  }


.bottom_bar img {
    margin-bottom: 55px; 
    margin-top: -100px;
    margin-right: 22px;
    margin-left: 22px;
} 



