body{
    background-color: #fff;
}
.page{
    text-align: center;
}
h2{
    color: #3faf43;
    font-weight: bold;
    margin-top: 30%;
    margin-right: 48%;
}
.button{
    text-align: center;
    margin-top: 10px;
    display: inline-block;
}
.button img{
    margin-right: 6px;
    margin-left: 6px;
}
.post{
    margin-right: 40%;
}
.more h5{
    color: #3faf43;
    text-align: right;
    margin-bottom: 30%;
    margin-right: 6%;
}
