body{
    background-color: #fff;
}
.page{
    text-align: center;
}
h2{
    color: #3faf43;
    font-weight: bold;
    margin-top: 30%;
    margin-right: 48%;
}
.button{
    text-align: center;
    margin-top: 10px;
    display: inline-block;
}
.button img{
    margin-right: 13px;
    margin-left: 13px;
}
 /* ======================================= 버튼 끝*/
.recen{
    margin-right:48%;
}
.more h5{
    color: #3faf43;
    text-align: right;
    margin-bottom: 30%;
    margin-right: 6%;
}
 /* ======================================= 텍스트 끝*/

.post {
    display: flex;
    flex-direction:column;
    align-items: center; 
    justify-content: space-around;
    margin-top: -100px;
  }
  
  .dunkinButton,
  .bagetteButton,
  .hambergerButton {
    background-color: white;
    color: white;
    font-weight: 0;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 320px;
    height: 65px;
    
  }
  
  .largeText {
    font-size: 15px; 
    color: #3faf43;
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
  }
  
  .smallText {
    color: gray;
    font-size: 12px; 
    margin-left: 10px;
} 
  .text span{
    display: block;

  }
  
  .buttonImage {
    max-width: 50px;
    max-height: 50px; 
    margin-right: 5px; 
    
  }
  .bottom_bar img {
    margin-top: 15px; 
    margin-right: 23px;
    margin-left: 23px;
} 



